@keyframes drop-in {
  from {
    transform:
      rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

@keyframes drop-out {
  from {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
  to {
    transform:
      rotate(30deg) translateY(100%);
    opacity: 0;
  }
  
}


.drop-enter {
  opacity: 0;
  animation: drop-in 2s;
}

.drop-enter-active {
  opacity: 1;
}

.drop-exit {
  opacity: 1;
}

.drop-exit-active {
  opacity: 0;
  animation:drop-out 2s;
}
