body {
  margin: 0%;
}

/*
      To achieve this effect, you need a container for both views that has overflow: hidden set on it. 
      That way, the two views can both be inside the container side-by-side 
      without showing any horizontal scrollbars, and each view can slide side-to-side inside the container as needed.
      */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #393948;
}

.view {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
  transition: transform 1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.view-hidden {
  visibility: hidden;
}

.video {
  width: 100%;
  
}

.video-hidden {
  width: 10px;

}

.vjs-default-skin.vjs-paused .vjs-big-play-button {
  display: none;
}