
.opacity-enter {
  opacity: 0;
}
.opacity-enter-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}
.opacity-exit {
  opacity: 1;
}
.opacity-exit-active {
  opacity: 0;
  transition: opacity 3s ease-in;
} 
