@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Your password has been reset. Please <a href="http://app.ioliz.com/login">Click here to log in</a>.
</p>