.myIframe {
  border: 0;
}

html,
body {
  height: 100%;
  margin: 0px;
  position: relative;
}

#root {
  height: 100%;
}

.vid {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  object-fit: fill;
}

.hide {
  
  transition: opacity 1s ease-out;
  opacity: 0;
  z-index: 900;
}

.show {
  opacity: 1;
  
  z-index: 999;
}

#p1,
#p2 {
  display: none;
}

.h100p {
  height: 100%;
  background-color: #000;
}

.centercontainer {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  /* half of #content height*/
  left: 0;
  width: 100%;
}

.centercontent {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
}

.c-vr {
  width: 1px;
  background-color: rgba(0, 0, 21, 0.2);
}

/* 3d card */
div.card {
  width: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 5px;
  opacity: 0.9;
}

div.absolute {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 999;
}
