@model Ioliz.Service.Models.MyOrder;
<div class="WCPay">
    <div class="weui_cells_title">订单支付</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                订单号:
            </div>
            <div class="weui_cell_ft">@Model.OrderNo</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                小计:
            </div>
            <div class="weui_cell_ft">@Model.SubTotal.ToString("C2")</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                实际付款金额:
            </div>
            <div class="weui_cell_ft"> @Model.Amount.ToString("C2")</div>
        </div>
        <p>
            <br/>
            <a id="getBrandWCPayRequest" href="javascript:void(0);" class="btn btn-success">支付</a>

        </p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var jqxhr = $.ajax("/tenpayV3/getUnifiedOrder?orderNo=@Model.OrderNo&code=@ViewBag.Code")
            .done(function (response) {
                alert(response.paySign);
                onBridgeReady(response)
            })
            .fail(function () {
                alert("error");
            })
            .always(function () {
                //alert("complete");
            });

     
    })


    function onBridgeReady(response) {
       
        jQuery('#getBrandWCPayRequest').click(function (e) {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": response.appId, //公众号名称，由商户传入
                    "timeStamp": response.timeStamp, //时间戳
                    "nonceStr": response.nonceStr, //随机串
                    "package": response.package, //扩展包
                    "signType": "MD5", //微信签名方式:MD5
                    "paySign": response.paySign //微信签名
                },
                function (res) {
                    //WeixinJSBridge.log(res.err_msg);                  
                    if (res.err_msg == "get_brand_wcpay_request：ok") { } // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
                }
            );

            (function timerRepeat() {
                $.get('/tenpayV3/orderStatus/@Model.OrderNo', function (reps) {
                    if (reps == 1) {
                        if (!tid) {
                            clearTimeout(tid);
                        }
                        //支付成功解锁
                        location.href = "/tenpayV3/finished";
                    }
                });
                // do some stuff...
                tid = setTimeout(timerRepeat, 2000); // repeat myself
            })();

        });
    }
</script>