
.pagination li {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--cui-pagination-border-color,#c4c9d0);
    padding: 0.375rem 0.75rem;
}

.page-link {
    display: block;
    position: relative;
    text-decoration: none;
    
}

.pagination .active {
    color: var(--cui-pagination-color,#321fdb);
}
.pagination .page-next {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: var(--cui-pagination-bg,#fff);
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: var(--cui-pagination-border-color,#c4c9d0);
}

.pagination.disable {
    color: var(--cui-pagination-color,#c0c0c0);
}

.pagination .page-previous{
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    background-color: var(--cui-pagination-bg,#fff);
    border: 1px solid var(--cui-pagination-border-color,#c4c9d0);
}