<!DOCTYPE html>
<html>

<head>
    <title>payment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/jquery-weui/lib/weui.min.css">
    <link rel="stylesheet" href="/jquery-weui/css/jquery-weui.min.css">

</head>

<body ontouchstart style="background:#f5f6f6;">

    <div class="bd">
        @RenderBody()
    </div>

    <script src="/jquery-weui/lib/jquery-2.1.4.js"></script>
    <script src="/jquery-weui/js/jquery-weui.min.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
